<div class="container">
    <div class="card formulario w-50" style="width: 18rem;">
        <div class="img-form">
            <img src="../assets/personaje.png" alt="" width="20%">
        </div>
        <h2>Aca podras revisar cual es la convecion en numero romano de un entero entre 1 y 1000</h2>
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Escribe un numero entre 1 y 1000</label>
                <input id="cajonvalor" #cajonvalor type="text" class="form-control" id="exampleInputEmail1" size="4" maxlength="4" [(ngModel)]="valor" name="valor" type="text" (keypress)="soloNumero($event)">

            </div>

            <button type=" submit " class="btn btn-primary" #conversor (click)="numRoman() ">Converit</button>

        </form>
    </div>
</div>