/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url('./assets/orig_4289.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    font-family: 'Crete Round', serif;
}
